<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathKid">

        <activity
            android:name="com.example.mathkid.activities.EditProfileActivity"
            android:exported="false"
            android:label="Sửa thông tin" />
        <activity
            android:name="com.example.mathkid.activities.StatisticsActivity"
            android:exported="false"
            android:label="Thống kê hệ thống" />
        <activity
            android:name="com.example.mathkid.activities.AchievementManagementActivity"
            android:exported="false"
            android:label="Quản lý thành tích" />
        <activity
            android:name="com.example.mathkid.activities.ManageLevelsActivity"
            android:exported="false"
            android:label="Quản lý cấp độ" />
        <activity
            android:name="com.example.mathkid.activities.AddQuestionActivity"
            android:exported="false"
            android:label="Thêm câu hỏi" />
        <activity
            android:name="com.example.mathkid.activities.ManageQuestionsActivity"
            android:exported="false"
            android:label="Quản lý Câu hỏi" />
        <activity
            android:name="com.example.mathkid.activities.ManageUsersActivity"
            android:exported="false"
            android:label="Quản lý Người dùng" />
        <activity
            android:name="com.example.mathkid.activities.AdminDashboardActivity"
            android:exported="false"
            android:label="Admin Dashboard" />
        <activity
            android:name="com.example.mathkid.activities.RankingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.MathGameActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.ProgressActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.QuizActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.PracticeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.ExamActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.AchievementsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.GameResultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.ItemLevel"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.QuizResult"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.Welcome"
            android:exported="true"
            android:theme="@style/Theme.MathKid.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mathkid.activities.Login"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.Register"
            android:exported="false" />
        <activity
            android:name="com.example.mathkid.activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>